// Variables
// *------------------------------------------------*
$color-white: #ffffff;
$color-black: #000000;
$color-brown: #D4C7AF;
$color-navy: #002d62;
$color-mud: #E6DED0;
$color-tapa: #777672;
$color-gold: #B0986C;
$color-yellow-green: #FAFBF4;
$color-gold-copper: #987F51;
$header-gradient: linear-gradient(221deg, #115461 3%, #38785c 17%, #53bba5 44%, #3f72b8 76%, #333d66 95%);

$radius-2: 2px;
$radius-6: 6px;
$radius-4: 4px;
$layout-border-radius: 4px;